// ===============================
// OLD UA BANNER TO BE REMOVED
// ===============================

.ua-redbar-v1 {
  .redbar {
    background: ua-color('red');
    position: relative;
    border: 0;
    a {
      color: ua-color('white');
      font-family: MiloWeb, Verdana, Geneva, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
    }
    .navbar-header {
      min-height: 59px;
    }
    ul {
      padding: 0;
    }
  }
  .navbar-nav {
    margin: 7.5px -15px;
    li:first-child {
      background: 0 0;
    }
  }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    &:hover {
      background: ua-color('red', '60b');
      text-decoration: none;
      background-color: ua-color('red', '60b');
    }
    &:focus {
      text-decoration: none;
      background-color: ua-color('red', '60b');
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    .icon-bar {
      background-color: ua-color('white');
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
    }
    &:focus {
      outline: 0;
    }
    .icon-bar+.icon-bar {
      margin-top: 4px;
    }
  }
    .redbar-brand p {
        text-indent: -9999em;
        width: 253px;
        height: 16px;
        margin: 20px 0 0;
        padding: 0;
        background: linear-gradient(transparent,transparent),inline-image('../img/ua-wordmark.svg') no-repeat;
        background-size: 100%;
    }
}
@media(max-width:767px) {
    .ua-redbar-v1 {
        .navbar-nav {
            li {
                background: 0 0;
                padding-left: 0;
            }
            .open {
                .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 0;
                    background-color: transparent;
                    border: 0;
                    box-shadow: none;
                    .dropdown-header {
                        padding: 5px 15px 5px 25px;
                    }
                }
                .dropdown-menu>li>a {
                    padding: 5px 15px 5px 25px;
                    line-height: 20px;
                    &:focus {
                        background-image: none;
                    }
                    &:hover {
                        background-image: none;
                    }
                }
            }
        }
        .redbar-brand p {
            margin: 20px 0 0 10px;
        }
    }
}
@media(max-width:360px) {
    .ua-redbar-v1 .redbar-brand p {
        background-size: 70%;
        margin: 23px 0 0 10px;
    }
}

// ===============================
//  background-colors
// ===============================

.bg-cochineal-red,
.bg-red {
  background-color: ua-color('red');
}

// ==============================
// Checkboxes and radio buttons
// ===============================
.input-group-addon {
  input {
    &[type="radio"] {
      height: 1px;
      left: 0;
      margin-left: -16px;
      margin-top: 0px;
      opacity: .01;
      outline: 0;
      position: absolute;
      top: 0px;
      width: 1px;

      + label {
        cursor: pointer;
        font-size: 17px;
        font-weight: normal;
        line-height: 1.2;
        margin-bottom: 0;
        margin-right: 0px;
        padding: 9px 10px;
        position: relative;
      }

      + label:before {
        border-radius: 8px;
      }

      &:focus + label:before,
      &:checked:focus + label:before {
        border: 1px ua-color('silver') solid;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
        line-height: .57;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }

      &:checked + label:before {
        color: ua-color('silver', 'dark');
        content: '\2022';
        font-size: 29px;
        line-height: .589;
        padding-left: 1px;
        text-align: center;
      }
    }

    &:checked {
      outline: 0;
    }

    + label:before {
      background-color: ua-color('silver', 'tint');
      box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
      content: '';
      display: inline-block;
      font-size: 1.6em;
      height: 16px;
      left: 0;
      line-height: 1.1;
      margin-right: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 16px;
    }

    &[type='checkbox'] {
      height: 1px;
      left: 0;
      margin-left: -16px;
      margin-top: 9px;
      opacity: .01;
      outline: 0;
      position: absolute;
      top: 0;
      width: 0;

      &:focus,
      &:checked:focus {
        outline: 0 solid #141819;
        outline-offset: 7px;
      }

      &:focus + label:before,
      &:checked:focus + label:before {
        border: 1px #8f8f8f solid;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
        line-height: 1.1;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      }
    }

    + label {
      cursor: pointer;
      font-size: 17px;
      font-weight: normal;
      line-height: 1.3;
      margin-bottom: 0;
      margin-right: 0px;
      padding: 8px 0 10px 20px;
      position: relative;
    }

    &[type="radio"]:focus {
      outline: 0 solid #141819;
      outline-offset: 7px;
    }

    &[type="radio"]:checked:focus {
      outline: 0 solid #141819;
      outline-offset: 7px;
    }

    &[type="checkbox"]:checked {
      color: ua-color('silver', 'dark');
      content: '\2713';
      font-size: 16px;
      line-height: 1;
      outline: 0;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

      + label:before {
        color: ua-color('silver', 'dark');
        content: '\2713';
        font-size: 16px;
        line-height: 1;
        outline: 0;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
      }
    }

    &[type="radio"][disabled],
    &[type="checkbox"][disabled],
    &[type="radio"].disabled,
    &[type="checkbox"].disabled {
      cursor: not-allowed;
    }
  }
}

input {
  &[type="radio"] {
    height: 1px;
    left: 43px;
    margin-left: -16px;
    margin-top: 9px;
    opacity: .01;
    outline: 0;
    position: absolute;
    top: 8px;
    width: 1px;

    + label {
      cursor: pointer;
      font-size: 17px;
      font-weight: normal;
      line-height: 1.2;
      margin-bottom: 0;
      margin-right: 15px;
      padding: 9px 25px;
      position: relative;
    }

    + label:before {
      border-radius: 8px;
    }

    &:focus + label:before,
    &:checked:focus + label:before {
      border: 1px ua-color('silver') solid;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
      line-height: .57;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    &:checked + label:before {
      color: ua-color('silver', 'dark');
      content: '\2022';
      font-size: 29px;
      line-height: .589;
      padding-left: 1px;
      text-align: center;
    }
  }

  &:checked {
    outline: 0;
  }

  + label:before {
    background-color: ua-color('silver', 'tint');
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .8);
    content: '';
    display: inline-block;
    font-size: 1.6em;
    height: 16px;
    left: 0;
    line-height: 1.1;
    margin-right: 10px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 16px;
  }

  &[type='checkbox'] {
    height: 1px;
    left: 43px;
    margin-left: -16px;
    margin-top: 9px;
    opacity: .01;
    outline: 0;
    position: absolute;
    top: 8px;
    width: 1px;

    &:focus,
    &:checked:focus {
      outline: 0 solid #141819;
      outline-offset: 7px;
    }

    &:focus + label:before,
    &:checked:focus + label:before {
      border: 1px #8f8f8f solid;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
      line-height: 1.1;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
  }

  + label {
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 0;
    margin-right: 15px;
    padding: 8px 0 10px 25px;
    position: relative;
  }

  &[type="radio"]:focus {
    outline: 0 solid #141819;
    outline-offset: 7px;
  }

  &[type="radio"]:checked:focus {
    outline: 0 solid #141819;
    outline-offset: 7px;
  }

  &[type="checkbox"]:checked {
    color: ua-color('silver', 'dark');
    content: '\2713';
    font-size: 16px;
    line-height: 1;
    outline: 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

    + label:before {
      color: ua-color('silver', 'dark');
      content: '\2713';
      font-size: 16px;
      line-height: 1;
      outline: 0;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    }
  }

  &[type="radio"][disabled],
  &[type="checkbox"][disabled],
  &[type="radio"].disabled,
  &[type="checkbox"].disabled {
    cursor: not-allowed;
  }
}

.radio-inline input[type='radio'],
.checkbox-inline input[type='checkbox'] {
  height: 1px;
  left: 43px;
  margin-left: -16px;
  margin-top: 9px;
  opacity: .01;
  outline: 0;
  position: absolute;
  top: 8px;
  width: 1px;
}

.radio:hover label:before {
  border: 1px #909090 solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
  line-height: .57;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.checkbox:hover label:before {
  border: 1px #8f8f8f solid;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(113, 135, 142, .3);
  line-height: 1.1;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
  color: ua-color('silver', 'dark');
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 20px 0 0;
}

.form-required {
  color: #ad0521;
}

form {
  margin: 20px 0;
  position: relative;

  &:first-child {
    margin-top: 0;
  }
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}

.radio-inline,
.checkbox-inline {
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  vertical-align: middle;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-right: 10px;
  margin-top: 0;
}

fieldset[disabled] input {
  &[type="radio"],
  &[type="checkbox"] {
    cursor: not-allowed;
  }
}

.radio-inline.disabled,
.checkbox-inline.disabled {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio-inline,
  .checkbox-inline {
    cursor: not-allowed;
  }
}

.radio.disabled label,
.checkbox.disabled label {
  cursor: not-allowed;
}

fieldset[disabled] {
  .radio label,
  .checkbox label {
    cursor: not-allowed;
  }
}

// ===============================
//  Utility Links
// ===============================

#utility_links {
  display: none;
  margin: 1rem 0 1.5rem 0;
  background-color: transparent;
  ul {
    padding: 0;
    margin: 0;
    border: 0 none;
    text-align: right;
    li {
      list-style: none;
      display: inline-block;
      padding: 0 0.6rem;
      text-align: left;
      a {
        color: ua-color('silver', 'dark');
        border-bottom: 2px solid transparent;
        font-family: MiloWeb-Text, sans-serif;
        font-size: 1rem;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        &:hover {
          text-decoration: none;
          border-bottom: 2px solid ua-color('silver', 'dark');
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #utility_links {
    display: block;
  }
}

// ===============================
//  Header Search Box
// ===============================

#header_site {
  #search {
    float: right;
    .form-item {
      display: inline;
      input {
        border-collapse: collapse;
        width: 13.8rem;
        font-family: MiloWeb, sans-serif;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1em;
        border: 0;
        background-color: #eef1f1;
        color: #333;
        padding: .5rem;
        outline: 0;
      }
    }

    .form-actions {
      display: inline;
      input[type="submit"] {
        text-indent: -9999em;
        background: url("../img/search-icon.png");
        width: 40px;
        height: 40px;
        width: 2.5rem;
        height: 2.5rem;
        background-size: 24px 24px;
        background-size: 1.5rem 1.5rem;
        border: 0;
        background-repeat: no-repeat;
        background-position: 9px 7px;
        outline: 0;
      }
    }

    form {
      border: 1px solid #d3d7de;
      background-color: #eef1f1;
      color: #333;
      width: 272px;
      width: 17rem;
      margin: 0 auto 24px;
      margin: 0 auto 1.5rem;
    }
  }

  #site_identifier a {
    float: left;
    margin: 1.5rem 0;
    padding: 0;
    width: 100%;
    text-align: center;

    img {
      width: 80%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}

// ===============================
//  Site Identifier // Logo
// ===============================

@media (min-width: 768px) {
  #header_site #site_identifier a {
    float: left;
    margin: 2.5rem 0;
    padding: 0;
    width: auto;
    img {
      width: 100%;
    }
  }
}

// ===============================
//  UA Banner
// ===============================

.arizona-logo {
  display: inline-block;
  height: 20px;
  margin: 19px 0 20px;
  max-width: 80%;
  float: left;
  width: 276px;
  padding: 0 0 0 .6rem;
}


// ===============================
//  UA Footer
// ===============================

#footer_site {
  background: ua-color('brick', 'light');
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  #footer_logo img {
    height: auto;
    margin: 0 auto 1rem;
    max-width: 360px;
    width: 80%;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 1rem 0 0;
    > li {
      border-right: 1px solid #B6BEC1;
      display: inline-block;
      list-style: none;
      padding: 0 .75rem;
      &.last {
        border-right: 0;
      }
    }
  }
  a {
    color: ua-color('ash');
    text-decoration: underline;
  }
  #footer_copyright {
   clear: both;
    float: left;
    width: 100%;
  }
}

@media (min-width: 992px) {
  #footer_site #footer_logo img {
    margin: 0;
  }
}

// ===============================
//  responsive alignment classes
// ===============================

.text-left-not-xs,
.text-left-not-sm,
.text-left-not-md,
.text-left-not-lg {
  text-align: left;
}

.text-center-not-xs,
.text-center-not-sm,
.text-center-not-md,
.text-center-not-lg {
  text-align: center;
}

.text-right-not-xs,
.text-right-not-sm,
.text-right-not-md,
.text-right-not-lg {
  text-align: right;
}

.text-justify-not-xs,
.text-justify-not-sm,
.text-justify-not-md,
.text-justify-not-lg {
  text-align: justify;
}

@media (max-width: 767px) {

  .text-left-not-xs,
  .text-center-not-xs,
  .text-right-not-xs,
  .text-justify-not-xs {
    text-align: inherit;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-center-xs {
    text-align: center;
  }

  .text-right-xs {
    text-align: right;
  }

  .text-justify-xs {
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .text-left-not-sm,
  .text-center-not-sm,
  .text-right-not-sm,
  .text-justify-not-sm {
    text-align: inherit;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }

  .text-justify-sm {
    text-align: justify;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .text-left-not-md,
  .text-center-not-md,
  .text-right-not-md,
  .text-justify-not-md {
    text-align: inherit;
  }

  .text-left-md {
    text-align: left;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }

  .text-justify-md {
    text-align: justify;
  }
}

@media (min-width: 1200px) {

  .text-left-not-lg,
  .text-center-not-lg,
  .text-right-not-lg,
  .text-justify-not-lg {
    text-align: inherit;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-justify-lg {
    text-align: justify;
  }
}