/*  @import "bootstrap/variables";
 * ========================================================================== */

/* Primary Colors */
$red                    : ua-color('red') !default;
$red30w                 : #ffebee;
$red60w                 : #ffcdd2;
$red60b                 : #8f1124;
$red30b                 : #cc665e;
$blue30w                : #7b89ae;
$blue60w                : #395180;
$blue                   : ua-color('blue') !default;
$blue60b                : #00194a;
$blue30b                : #000136;


/* Secondary palette */

$cactus                 : #5c8727;
$cactus-light           : #cfe0d8;

$sky                    : #84d2e2;
$sky-light              : #c8d9d8;

$river                  : #076873;
$river-light            : #b6bec1;

$sand                   : #f19e1f;
$sand-light             : #fce1b6;
$mesa                   : #b75527;
$mesa-light             : #fae7d8;

$brick                  : #4a3027;
$brick-light            : #e6e3d9;


/* Legacy palette */

$gray-base                   :#333 !default;
$gray-darker                 :lighten($gray-base, 13.5%) !default; // #222
$gray-dark                   :lighten($gray-base, 20%) !default;   // #333
$gray                        :lighten($gray-base, 33.5%) !default; // #555
$gray-light                  :lighten($gray-base, 46.7%) !default; // #777
$gray-lighter                :lighten($gray-base, 93.5%) !default; // #eee

$brand-default               :ua-color('red') !default;
$brand-primary               :ua-color('blue') !default; // #337ab7
$brand-success               :ua-color('cactus') !default;
$brand-info                  :ua-color('sky') !default;
$brand-warning               :ua-color('sand') !default;
$brand-danger                :ua-color('mesa') !default;

$silver                      :#49595e !default;
$river                       :#076873 !default;

$text-color                  :ua-color('ash') !default;

$link-color                  :ua-color('red','30b') !default;
$link-hover-color            :ua-color('red', '30b') !default;
$font-family-sans-serif      :MiloWeb-Text, Verdana, Geneva, sans-serif;
$font-family-text            :MiloWeb, Verdana, Geneva, sans-serif;
$font-family-serif           :MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$font-size-base              :16px !default;
$font-size-h2                :floor(($font-size-base * 2.25)) !default; // ~30px
$line-height-base            :1.5 !default; // 20/14
$headings-font-family        :$font-family-serif !default;
$headings-font-family-medium :$font-family-sans-serif !default;
$headings-font-weight-medium :700 !default;
$headings-color              :$silver !default;


$cochineal                   :#AB0520;
$border-radius-base          :0px !default;
$border-radius-large         :0px !default;
$border-radius-small         :0px !default;

$table-bg-accent             :ua-color('silver','tint') !default;
$table-bg-hover              :ua-color('blue','30w') !default;
$table-bg-active             :$table-bg-hover !default;


$table-border-color          :white !default;

/* Background color for table header. */
$table-header-bg-color:         $silver !default;
$table-header-color:            #fff !default;

$btn-font-weight:                bold !default;


$btn-river-color:                #fff !default;
$btn-river-bg:                   $river !default;
$btn-river-action-color:         #054950 !default;
$btn-river-border:               transparent !default;

$btn-default-color:              #fff !default;
$btn-default-bg:                 ua-color('red') !default;
$btn-default-border:             transparent !default;
$btn-default-action-color:       #CC665E  !default;


$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             transparent !default;
$btn-primary-action-color:       ua-color('blue','30w')!default;


$btn-success-border:             transparent !default;
$btn-success-action-color:       #405E1B !default;


$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                transparent !default;
$btn-info-action-color:          #5C939E !default;


$btn-warning-border:             transparent !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-action-color:       #a86e16 !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              transparent !default;
$btn-danger-action-color:        #803B1B !default;

$btn-link-disabled-color:        $gray-light !default;

$input-color:                    ua-color('silver','default') !default;
$input-border:                   ua-color('silver','default') !default;

$dropdown-bg:                    rgba(12, 35, 75, 0.8) !default;
$dropdown-link-color:            white !default;
$dropdown-link-hover-color:      #076873 !default;
$dropdown-link-hover-bg:         #DBE8EA !default;

$grid-gutter-width:         32px !default;
$navbar-margin-bottom:             0 !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-default-bg:                white !default;
$navbar-default-link-color:                ua-color('blue','30w') !default;
$navbar-default-link-hover-color:          ua-color('blue','60w') !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         ua-color('blue','30w') !default;
$navbar-default-link-active-bg:            ua-color('silver','tint') !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

$navbar-inverse-bg:                         ua-color('blue') !default;
$navbar-inverse-border:                     ua-color('blue') !default;

$navbar-inverse-link-color:                 #fff !default;
$navbar-inverse-link-hover-color:           ua-color('blue','60w') !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          #fff !default;
$navbar-inverse-link-active-bg:             ua-color('blue','60w') !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

$navbar-inverse-brand-color:                #fff !default;
$navbar-inverse-brand-hover-color:          ua-color('blue','30w') !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

$navbar-inverse-toggle-hover-bg:            ua-color('blue','30w') !default;
$navbar-inverse-toggle-border-color:        #fff !default;


$pagination-color:                     ua-color('silver','dark') !default;
$pagination-bg:                        ua-color('ash','tint') !default;
$pagination-border:                    #fff !default;

$pagination-hover-color:               #fff !default;
$pagination-hover-bg:                  ua-color('red') !default;
$pagination-hover-border:              transparent !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 ua-color('red') !default;
$pagination-active-border:             transparent !default;

$pagination-disabled-color:            $gray-light !default;
$pagination-disabled-bg:               transparent !default;
$pagination-disabled-border:           #fff !default;


$pager-border-radius:                  0 !default;

$pager-hover-color:                    #fff !default;
$pager-hover-bg:                       $pagination-hover-bg !default;

$pager-active-bg:                      $pagination-active-bg !default;
$pager-active-color:                   $pagination-active-color !default;

$pager-disabled-color:                 $gray-light !default;


$state-success-text:             #fff !default;
$state-success-bg:               $brand-success !default;
$state-success-border:           $brand-success !default;

$state-info-text:                #333 !default;
$state-info-bg:                  $brand-info !default;
$state-info-border:              $brand-info !default;

$state-warning-text:             #fff !default;
$state-warning-bg:               $brand-warning !default;
$state-warning-border:           $brand-warning !default;

$state-danger-text:              #fff !default;
$state-danger-bg:                $brand-danger !default;
$state-danger-border:            $brand-danger !default;


$label-default-bg:            $brand-default !default;
$progress-bg:                 ua-color('silver','tint') !default;
$progress-bar-bg:             ua-color('blue','60b') !default;
$list-group-active-color:        white !default;
$list-group-active-text-color:  #fff !default;

$list-group-link-color:         ua-color('ash') !default;
$list-group-link-heading-color: ua-color('silver','dark') !default;


$badge-border-radius:         0 !default;


$breadcrumb-bg:                 transparent !default;
$breadcrumb-color:              ua-color('blue','30w') !default;

/* Breadcrumb text hover color (not included in vanilla bootstrap) */
$breadcrumb-hover-color:        ua-color('blue','60w') !default;
$code-color:                  ua-color('ash') !default;
$code-bg:                     ua-color('silver','tint') !default;

$hr-border:                   ua-color('silver','tint') !default;


/*  @import "bootstrap/mixins";
 * ========================================================================== */

/* _alerts */
@mixin alert-variant($background, $border, $text-color) {
    .alert-link {
        color: darken($text-color, 8%);
        text-decoration: underline;
    }
}

/* _buttons */
@mixin button-variant($color, $background, $border, $action-bg) {
    background-clip: padding-box;
    transition: all .1s ease-in-out;
    &:focus,
    &.focus {
        background-color: $action-bg;
        border-color:  $border;
    }
    &:hover {
        background-color: $action-bg;
        border-color:  $border;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-color: $action-bg;
        border-color:  $border;
        &:hover,
        &:focus,
        &.focus {
            background-color: $action-bg;
            border-color:  $border;
        }
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &,
        &:hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: $gray-light;
            border-color:  $border;
        }
    }
}

/* _forms */

@mixin form-control-focus($color: $input-border-focus) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);
    &:focus {
        border-color: #141819;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(113,135,142,.3);
    }
}


/* ==========================================================================
 * // Reset and dependencies
 * ========================================================================== */

/* @import "bootstrap/normalize";
 * ========================================================================== */

/* @import "bootstrap/print";
 * ========================================================================== */

/* @import "bootstrap/glyphicons";
 * ========================================================================== */


/* ==========================================================================
 * // Core CSS
 * ========================================================================== */

/* @import "bootstrap/scaffolding";
 * ========================================================================== */
html {
    font-size: 16px;
}
body {
    font-family: $font-family-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0,0,0,.004);
}
a {
    font-weight:bold;
}

/* @import "bootstrap/type";
 * ========================================================================== */

h1, h2,
.h1, .h2{
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
    font-family: $headings-font-family-medium;
    font-weight: $headings-font-weight-medium;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
        font-weight: normal;
        line-height: 1;
        color: $headings-small-color;
    }
}
strong, bold{
    font-weight:bold;
}
ul.triangle {
    overflow:hidden;
    > li,
    > ul li {
        padding-left: 0;
        position: relative;
        list-style: none;
        &:before {
            position: absolute;
            top: 8px;
            left: -1em;
            width: 0;
            height: 0;
            border-top: 6px solid ua-color('blue','default');
            border-left: 6px solid transparent;
            content: '';
        }
    }
}


/* @import "bootstrap/code";
 * ========================================================================== */
pre {
    border: 1px solid ua-colors('ash','tint') !important;
}

/* @import "bootstrap/grid";
 * ========================================================================== */

/* @import "bootstrap/tables";
 * ========================================================================== */
table,
.table {
    > thead > tr > th {
        background-color: $table-header-bg-color;
        color:$table-header-color;
        text-transform: uppercase;
    }
}

.table-hover {
    > tbody > tr:hover {
        background-color: $table-bg-hover;
        color: white;
    }
}

/* @import "bootstrap/forms";
 * ========================================================================== */
label {
    padding: 1em 0 0;
    color: ua-color('silver','dark');
    font-weight: 700;
    font-size: 1em;
}
select.form-control, select {
    border: 0;
    outline: 1px solid $input-border;
    background-color: white;
    border-radius: 0;
}

/* @import "bootstrap/buttons";
 * ========================================================================== */
.btn {
    background-clip: padding-box;
    font-weight: 700;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    letter-spacing: .04em;
    text-transform: uppercase;
}
.btn-arrow:after {
    content: " »";
}
.btn-red,
.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border, $btn-default-action-color);
}
.btn-blue,
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border, $btn-primary-action-color);
}
// Success appears as cactus
.btn-cactus,
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border, $btn-success-action-color);
}
// Info appears as sky
.btn-sky,
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border, $btn-info-action-color);
}
// Warning appears as sand
.btn-sand,
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border, $btn-warning-action-color);
}
// Danger and error appear as mesa
.btn-mesa,
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border, $btn-danger-action-color);
}
// River appears as river
.btn-river {
    @include button-variant($btn-river-color, $btn-river-bg, $btn-river-border, $btn-river-action-color);
}
.btn-link {
    font-weight: 700;
}

/* ==========================================================================
 * // Components
 * ========================================================================== */

/* @import "bootstrap/component-animations";
 * ========================================================================== */

/* @import "bootstrap/dropdowns";
 * ========================================================================== */
.dropdown-menu {
    padding: 20px 0 5px 0;
    border: 0; // IE8 fallback
    border: 0;
    &.pull-right {
        &:before {
            position: absolute;
            top: 0px;
            right: 5.7%;
            width: 0;
            height: 0;
            border-top: 17px solid white;
            border-right: 17px solid transparent;
            border-left: 17px solid transparent;
            content: '';
        }
    }

    &:before {
        position: absolute;
        top: 0px;
        left: 5.7%;
        width: 0;
        height: 0;
        border-top: 17px solid white;
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        content: '';
    }
    > li > a {
        font-weight: bold;
    }
}


/* @import "bootstrap/button-groups";
 * ========================================================================== */
.btn .caret {
    margin-left: 0;
    margin-left: 2px;
}

/* @import "bootstrap/input-groups";
 * ========================================================================== */
.input-group-btn {
    > .btn {
        + .btn {
            margin-left: 0;
        }
    }
    &:first-child {
        > .btn,
        > .btn-group {
            margin-top: -1px;
            padding: 7px 8px;
        }
    }
    &:last-child {
        > .btn,
        > .btn-group {
            margin-top: -1px;
            padding: 7px 8px;
        }
    }
}


/* @import "bootstrap/navs";
 * ========================================================================== */
.nav {
    > li {
        > a {
            color: $navbar-default-brand-color;
            font-weight: bold;
            letter-spacing: 0.03rem;
        }
    }
    .open > a {
        &,
        &:hover,
        &:focus {
            border-color: $nav-link-hover-bg;
        }
    }
}
.nav-tabs {
    > li {
        margin-bottom: 0px;
        > a {
            border: 0px solid transparent;
            &:hover {
                background-color: ua-color('silver','tint');
            }
        }
        &.active > a {
            background-color: ua-color('blue');
            color: hsl(0, 100%, 100%);
            border-bottom: 0px solid hsl(218, 72%, 17%);
            &,
            &:hover,
            &:focus {
                font-weight: bold;
                letter-spacing: 0.03rem;
                border: 0px solid $nav-tabs-active-link-hover-border-color;
                background-color: hsl(218, 72%, 17%);
                color: hsl(0, 100%, 100%);
                border-bottom: 0px solid hsl(218, 72%, 17%);
            }
        }
    }
}
.nav-pills {
    > li {
        > a {
            &:hover {
                background-color: ua-color('silver','tint');
                color: ua-color('river');
            }
            &:hover,
            &:focus {
                font-weight: bold;
                text-decoration: none;
                color: hsl(186, 89%, 24%);
                outline: 0;
            }
        }
        + li {
            margin-left: 2px;
        }

        // Active state
        &.active > a {
            font-weight: bold;
            text-decoration: none;
            color: hsl(186, 89%, 24%);
            outline: 0;
            background-color:hsl(188, 26%, 89%);
        }
    }
}
.nav-stacked {
    > li {
        float: none;
        > a {
            &:hover,
            &:focus {
                background: hsl(188, 26%, 89%) inline-image('../img/left-sidebar-menu-chevron.svg') right center no-repeat;
                background-size: 15px 100%;
            }
        }
        + li {
            margin-top: 2px;
            margin-left: 0; // no need for this gap between nav items
        }
        &.active > a {
            font-weight: bold;
            text-decoration: none;
            color: hsl(186, 89%, 24%);
            background: hsl(188, 26%, 89%) inline-image('../img/left-sidebar-menu-chevron.svg') right center no-repeat;
            background-size: 15px 100%;
            outline: 0;
        }
    }
}
.nav-tabs-justified {
    border-bottom: 1px solid $nav-tabs-border-color;
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
        border-bottom: 1px solid $nav-tabs-border-color;
    }
    @media (min-width: $screen-sm-min) {
        > li > a {
            border-bottom: 1px solid nav-tabs-border-color;
        }
        > .active > a,
        > .active > a:hover,
        > .active > a:focus {
            border-bottom: 1px solid $nav-tabs-border-color;
        }
    }
}


/* @import "bootstrap/navbar";
 * ========================================================================== */
.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.03rem;
    text-transform: uppercase;
    > li > a {
        font-size: 22px;
    }
    .navbar-nav {
        > li > a {
            font-weight: bold;
            letter-spacing: 0.03rem;
            text-transform: normal;
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                font-weight: bold;
            }
        }
        .navbar-nav {
            > li > a {
                font-weight:bold;
            }
        }
        > .active > a {
            &:hover,
            &:focus {
                color: $navbar-inverse-bg;
                background-color: $navbar-inverse-link-active-bg
            }
        }
    }
}


/* @import "bootstrap/breadcrumbs";
 * ========================================================================== */

.breadcrumb {
    > li {
        + li:before {
            content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
        }
        a:hover {
            color: $breadcrumb-hover-color;
            border-bottom: 2px solid $breadcrumb-hover-color;
            text-decoration: none;
        }
        a {
            color: $breadcrumb-color;
            font-weight: 400;
            border-bottom: 2px solid transparent;
            padding: 1px 0;
        }
    }
}

/* @import "bootstrap/pagination";
 * ========================================================================== */
.pagination {
    > li {
        > a,
        > span {
            color: $pagination-color;
            font-weight:bold;
        }
    }
    > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
            font-weight:bold;
        }
    }
}


/* @import "bootstrap/pager";
 * ========================================================================== */
.pager {
    li {
        > a,
        > span {
            color: ua-color('ash');
            font-weight: bold;
            letter-spacing: 0.5px;
        }
        > a:hover,
        > a:focus {
            color: $pager-hover-color;
        }
    }
}


/* @import "bootstrap/labels";
 * ========================================================================== */
.label {
    font-size: .7em;
    font-weight: 700;
    line-height: 1.5;
    color: #FFF;
    vertical-align: top;
    margin: 0 .5em;
}


/* @import "bootstrap/badges";
 * ========================================================================== */

/* @import "bootstrap/jumbotron";
 * ========================================================================== */

/* @import "bootstrap/thumbnails";
 * ========================================================================== */

/* @import "bootstrap/alerts";
 * ========================================================================== */

.alert-dismissable,
.alert-dismissible {
    .close {
        color: #000;
    }
}

/* @import "bootstrap/progress-bars";
 * ========================================================================== */

/* @import "bootstrap/media";
 * ========================================================================== */

/* @import "bootstrap/list-group";
 * ========================================================================== */

/* @import "bootstrap/panels";
 * ========================================================================== */

/* @import "bootstrap/responsive-embed";
 * ========================================================================== */

/* @import "bootstrap/wells";
 * ========================================================================== */

/* @import "bootstrap/close";
 * ========================================================================== */


/* ==========================================================================
 * // Components w/ JavaScript
 * ========================================================================== */

/* @import "bootstrap/modals";
 * ========================================================================== */

/* @import "bootstrap/tooltip";
 * ========================================================================== */

/* @import "bootstrap/popovers";
 * ========================================================================== */

/* @import "bootstrap/carousel";
 * ========================================================================== */


/* ==========================================================================
 * // Utility classes
 * ========================================================================== */

/* @import "bootstrap/utilities";
 * ========================================================================== */
/* @import "bootstrap/responsive-utilities";
 * ========================================================================== */
