doctype html
html(lang='en')
  head
    include _includes/meta.jade
    title UA Bootstrap - Components
    include _includes/scripts-and-styles.jade
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.jade
    mixin mainnav(3)
    // Docs page layout
    #content.page-title(tabindex='-1')
      .container
        h1 Components
        p Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.
    .container.bs-docs-container
      .row
        .col-md-3.col-md-push-9
          #catstrap-sidebar.hidden-print.hidden-xs.hidden-sm(data-spy='affix', data-offset-top='310')
            ul.nav.bs-docs-sidenav
              li
                a(href='#ua-brand-icons') UA Brand Icons 
                  span.label.label-default New
                //-ul.nav
                  //-li
                    //-a(href='#ua-brand-icons-glyphs') Available glyphs
                  //-li
                    //-a(href='#glyphicons-how-to-use') How to use
                  //-li
                    //-a(href='#glyphicons-examples') Examples
              li
                a(href='#dropdowns') Dropdowns 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#dropdowns-example') Example
                  li
                    a(href='#dropdowns-alignment') Alignment
                  li
                    a(href='#dropdowns-headers') Headers
                  li
                    a(href='#dropdowns-divider') Divider
                  li
                    a(href='#dropdowns-disabled') Disabled menu items
              li
                a(href='#btn-groups') Button groups 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#btn-groups-single') Basic example
                  li
                    a(href='#btn-groups-toolbar') Button toolbar
                  li
                    a(href='#btn-groups-sizing') Sizing
                  li
                    a(href='#btn-groups-nested') Nesting
                  li
                    a(href='#btn-groups-vertical') Vertical variation
                  li
                    a(href='#btn-groups-justified') Justified button groups
              li
                a(href='#btn-dropdowns') Button dropdowns 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#btn-dropdowns-single') Single button dropdowns
                  li
                    a(href='#btn-dropdowns-split') Split button dropdowns
                  li
                    a(href='#btn-dropdowns-sizing') Sizing
                  li
                    a(href='#btn-dropdowns-dropup') Dropup variation
              li
                a(href='#input-groups') Input groups 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#input-groups-basic') Basic example
                  li
                    a(href='#input-groups-sizing') Sizing
                  li
                    a(href='#input-groups-checkboxes-radios') Checkbox and radios addons
                  li
                    a(href='#input-groups-buttons') Button addons
                  li
                    a(href='#input-groups-buttons-dropdowns') Buttons with dropdowns
                  li
                    a(href='#input-groups-buttons-segmented') Segmented buttons
              li
                a(href='#nav') Navs 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#nav-tabs') Tabs
                  li
                    a(href='#nav-pills') Pills
                  li
                    a(href='#nav-justified') Justified
                  li
                    a(href='#nav-disabled-links') Disabled links
                  li
                    a(href='#nav-dropdowns') Using dropdowns
              li
                a(href='#navbar') Navbar 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#navbar-default') Default navbar
                  //li
                    //a(href='#navbar-forms') Forms
                  li
                    a(href='#navbar-buttons') Buttons
                  li
                    a(href='#navbar-text') Text
                  li
                    a(href='#navbar-links') Non-nav links
                  li
                    a(href='#navbar-component-alignment') Component alignment
                  li
                    a(href='#navbar-fixed-top') Fixed to top
                  li
                    a(href='#navbar-fixed-bottom') Fixed to bottom
                  li
                    a(href='#navbar-static-top') Static top
                  li
                    a(href='#navbar-inverted') Inverted navbar
              li
                a(href='#breadcrumbs') Breadcrumbs 
                  span.label.label-default New
              li
                a(href='#pagination') Pagination 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#pagination-default') Default pagination
                  li
                    a(href='#pagination-pager') Pager
              li
                a(href='#labels') Labels 
                  span.label.label-default New
              li
                a(href='#badges') Badges 
                  span.label.label-default New
              li
                a(href='#jumbotron') Jumbotron 
                  span.label.label-default New
              li
                a(href='#page-header') Page header 
                  span.label.label-default New
              li
                a(href='#thumbnails') Thumbnails 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#thumbnails-default') Default example
                  li
                    a(href='#thumbnails-custom-content') Custom content
              li
                a(href='#alerts') Alerts 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#alerts-examples') Examples
                  li
                    a(href='#alerts-dismissible') Dismissible alerts
                  li
                    a(href='#alerts-links') Links in alerts
              li
                a(href='#progress') Progress bars 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#progress-basic') Basic example
                  li
                    a(href='#progress-label') With label
                  li
                    a(href='#progress-alternatives') Contextual alternatives
                  li
                    a(href='#progress-striped') Striped
                  li
                    a(href='#progress-animated') Animated
                  li
                    a(href='#progress-stacked') Stacked
              li
                a(href='#media') Media object 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#media-default') Default media
                  li
                    a(href='#media-list') Media list
              li
                a(href='#list-group') List group 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#list-group-basic') Basic example
                  li
                    a(href='#list-group-badges') Badges
                  li
                    a(href='#list-group-linked') Linked items
                  li
                    a(href='#list-group-buttons') Button items
                  li
                    a(href='#list-group-disabled') Disabled items
                  li
                    a(href='#list-group-contextual-classes') Contextual classes
                  li
                    a(href='#list-group-custom-content') Custom content
              li
                a(href='#panels') Panels 
                  span.label.label-default New
                ul.nav
                  li
                    a(href='#panels-basic') Basic example
                  li
                    a(href='#panels-heading') Panel with heading
                  li
                    a(href='#panels-footer') Panel with footer
                  li
                    a(href='#panels-alternatives') Contextual alternatives
                  li
                    a(href='#panels-tables') With tables
                  li
                    a(href='#panels-list-group') With list groups
              li
                a(href='#responsive-embed') Responsive embed 
                  span.label.label-default New
              li
                a(href='#wells') Wells 
                  span.label.label-default New
        .col-md-9.col-md-pull-3
          .bs-docs-section
            h1#ua-brand-icons.page-header UA Brand Icons
            p.lead
              | UA Brand Icons are built for you to use quickly.
            .row
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-up-left-arrow
                  .small
                    :marked
                      `.ua-brand-up-left-arrow`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-left-arrow
                  .small
                    :marked
                      `.ua-brand-left-arrow`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-uaccess
                  .small
                    :marked
                      `.ua-brand-uaccess`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-checklist
                  .small
                    :marked
                      `.ua-brand-checklist`
            .row
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-spring-fling
                  .small
                    :marked
                      `.ua-brand-spring-fling`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-tour
                  .small
                    :marked
                      `.ua-brand-tour`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-uasavvy
                  .small
                    :marked
                      `.ua-brand-uasavvy`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-athletics
                  .small
                    :marked
                      `.ua-brand-athletics`
            .row
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-feedback
                  .small
                    :marked
                      `.ua-brand-feedback`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-alumni
                  .small
                    :marked
                      `.ua-brand-alumni`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-document
                  .small
                    :marked
                      `.ua-brand-document`
              .col-md-3
                .well.text-center
                  h2.text-center
                   i.ua-brand-az-index
                  .small
                    :marked
                      `.ua-brand-az-index`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-directory
                  .small
                    :marked
                      `.ua-brand-directory`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-weather
                  .small
                    :marked
                      `.ua-brand-weather`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-video
                  .small
                    :marked
                      `.ua-brand-video`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-campus-map
                  .small
                    :marked
                      `.ua-brand-campus-map`
            .row
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-news
                  .small
                    :marked
                      `.ua-brand-news`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-foursquare
                  .small
                    :marked
                      `.ua-brand-foursquare`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-pinterest
                  .small
                    :marked
                      `.ua-brand-pinterest`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-youtube
                  .small
                    :marked
                      `.ua-brand-youtube`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-facebook
                  .small
                    :marked
                      `.ua-brand-facebook`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-ua-mobile
                  .small
                    :marked
                      `.ua-brand-ua-mobile`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-googleplus
                  .small
                    :marked
                      `.ua-brand-googleplus`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-instagram
                  .small
                    :marked
                      `.ua-brand-instagram`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-linkedin
                  .small
                    :marked
                      `.ua-brand-linkedin`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-twitter
                  .small
                    :marked
                      `.ua-brand-twitter`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-rss
                  .small
                    :marked
                      `.ua-brand-rss`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-unbookmark
                  .small
                    :marked
                      `.ua-brand-unbookmark`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-search
                  .small
                    :marked
                      `.ua-brand-search`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-bookmark
                  .small
                    :marked
                      `.ua-brand-bookmark`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-checkmark
                  .small
                    :marked
                      `.ua-brand-checkmark`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-x
                  .small
                    :marked
                      `.ua-brand-x`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-grip
                  .small
                    :marked
                      `.ua-brand-grip`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-minus
                  .small
                    :marked
                      `.ua-brand-minus`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-plus
                  .small
                    :marked
                      `.ua-brand-plus`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-email
                  .small
                    :marked
                      `.ua-brand-email`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-print
                  .small
                    :marked
                      `.ua-brand-print`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-link
                  .small
                    :marked
                      `.ua-brand-link`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-refresh
                  .small
                    :marked
                      `.ua-brand-refresh`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-upload
                  .small
                    :marked
                      `.ua-brand-upload`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-download
                  .small
                    :marked
                      `.ua-brand-download`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-minimize
                  .small
                    :marked
                      `.ua-brand-minimize`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-maximize
                  .small
                    :marked
                      `.ua-brand-maximize`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-fast-forward
                  .small
                    :marked
                      `.ua-brand-fast-forward`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-stop
                  .small
                    :marked
                      `.ua-brand-stop`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-pause
                  .small
                    :marked
                      `.ua-brand-pause`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-rewind
                  .small
                    :marked
                      `.ua-brand-rewind`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-down-point
                  .small
                    :marked
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-up-right-point
                  .small
                    :marked
                      `.ua-brand-up-right-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-right-point
                  .small
                    :marked
                      `.ua-brand-right-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-down-right-point
                  .small
                    :marked
                      `.ua-brand-down-right-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-up-point
                  .small
                    :marked
                      `.ua-brand-up-point`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-left-point
                  .small
                    :marked
                      `.ua-brand-left-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-down-left-point
                  .small
                    :marked
                      `.ua-brand-down-left-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-up-left-point
                  .small
                    :marked
                      `.ua-brand-up-left-point`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-bottom-left-corner
                  .small
                    :marked
                      `.ua-brand-bottom-left-corner`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-bottom-corner
                  .small
                    :marked
                      `.ua-brand-bottom-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-bottom-right-corner
                  .small
                    :marked
                      `.ua-brand-bottom-right-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-right-corner
                  .small
                    :marked
                      `.ua-brand-right-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-top-right-corner
                  .small
                    :marked
                      `.ua-brand-top-right-corner`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-top-corner
                  .small
                    :marked
                      `.ua-brand-top-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-top-left-corner
                  .small
                    :marked
                      `.ua-brand-top-left-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-left-corner
                  .small
                    :marked
                      `.ua-brand-left-corner`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-down-left-arrow
                  .small
                    :marked
                      `.ua-brand-down-left-arrow`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-down-arrow
                  .small
                    :marked
                      `.ua-brand-down-arrow`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-down-right-arrow
                  .small
                    :marked
                      `.ua-brand-down-right-arrow`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-right-arrow
                  .small
                    :marked
                      `.ua-brand-right-arrow`
              .col-md-3
                .well.text-center
                  h2
                    i.ua-brand-up-right-arrow
                  .small
                    :marked
                      `.ua-brand-up-right-arrow`
            .row
              .col-md-3
                .well.text-center
                  h2
                   i.ua-brand-up-arrow
                  .small
                    :marked
                      `.ua-brand-up-arrow`
          .bs-docs-section
            include:marked _includes/components/dropdowns.md

          .bs-docs-section
            include:marked _includes/components/button-groups.md

          .bs-docs-section
            include:marked _includes/components/button-dropdowns.md

          .bs-docs-section
            include:marked _includes/components/input-groups.md

          .bs-docs-section
            include:marked _includes/components/navs.md

          .bs-docs-section
            include:marked _includes/components/navbar.md

          .bs-docs-section
            include:marked _includes/components/breadcrumbs.md

          .bs-docs-section
            include:marked _includes/components/pagination.md

          .bs-docs-section
            include:marked _includes/components/labels.md

          .bs-docs-section
            include:marked _includes/components/badges.md

          .bs-docs-section
            include:marked _includes/components/jumbotron.md

          .bs-docs-section
            include:marked _includes/components/page-header.md

          .bs-docs-section
            include:marked _includes/components/thumbnails.md

          .bs-docs-section
            include:marked _includes/components/alerts.md

          .bs-docs-section
            include:marked _includes/components/progress-bars.md

          .bs-docs-section
            include:marked _includes/components/media.md

          .bs-docs-section
            include:marked _includes/components/list-group.md

          .bs-docs-section
            include:marked _includes/components/panels.md

          .bs-docs-section
            include:marked _includes/components/responsive-embed.md

          .bs-docs-section
            include:marked _includes/components/wells.md
    // Footer ==================================================
    footer.bs-docs-footer
    include:marked _includes/footer.md
    include _includes/footer-scripts.jade
