@mixin button-variant($color, $background, $border, $action-bg) {
  color: $color;
  background-color: $background;
  border-color: $border;
  background-clip: padding-box;
  transition: all .1s ease-in-out;

  &:focus,
  &.focus {
    color: $color;
    background-color: $action-bg;
        border-color:  $border;
  }
  &:hover {
    color: $color;
    background-color: $action-bg;
        border-color:  $border;
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: $action-bg;
        border-color:  $border;

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $action-bg;
          border-color:  $border;
    }
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: $gray-light;
          border-color:  $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
