//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px 8px 0px;
  margin-bottom: $line-height-computed;
  list-style: none;
  background-color: $breadcrumb-bg;
  border-radius: $border-radius-base;

  > li {
    display: inline-block;

    &:first-child:before {
      content: "";
      padding: 0;
    }
    &:before,
    &:last-child:after {
      content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
    a:hover {
    color: $breadcrumb-hover-color;
    border-bottom: 2px solid $breadcrumb-hover-color;
    text-decoration: none;
    }
    a {
    color: $breadcrumb-color;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    padding: 1px 0;
    }
  }

  > .active {
    color: $breadcrumb-active-color;
  }
}

